<% if obj.image.attached? %>
      <div class="slides__bg">
            
             <%= image_tag obj.image, class: "slides__img" %>
            <div class="slides__overlay">
                  <div class="slides__title" id="rated_title">
                  <%=  link_to obj.title, article_path(obj), class:"title-link" %>
                  hello
                  </div>
                  <div class="slides__title" id="rated_title">
                  <%=  link_to obj.title, article_path(obj), class:"title-link" %>
                  hello
                  </div>
                  <div class="slides__content">
                  <%= truncate(obj.content, length:100, separator:' ') %>
                  </div>
            </div>

      </div>
<% end %>   

