<div class="news">
      <div class="news__header">
         <ul class="li">News</ul>
         <ul class="li">Magazine</ul>
         <ul class="li">Sports</ul>
         <ul class="li">indie</ul>
      </div>
      <div class="news__content">
      <div class="video">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores iusto reprehenderit quas expedita quos delectus eaque eum dicta atque repudiandae. Placeat maiores, quasi, repudiandae ex vitae rerum atque quos quas labore dicta numquam delectus fugit expedita iste excepturi ad odio non est ipsam beatae. A provident debitis deserunt fugiat amet cumque nostrum dolore quisquam ipsam optio magni quaerat earum, quibusdam voluptatem quasi harum maxime repellat minus! Voluptas magnam optio veritatis dolore quasi totam nostrum, tempore, veniam ipsa accusamus doloribus, alias excepturi illum omnis?
      </div>
      <div class="highlight">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti.</div>
      </div>
</div>