<% obj.each do |article| %>

        <div class="slider__bg" <% if article.image.attached? %>style="background: url(<%=  rails_blob_url(article.image) %>);background-repeat: no-repeat; background-size: cover;"<% end %>>
        
                <div class="home__recent__container__bg__content__title">
                    <%= link_to article.title , article_path(article) %>
                </div>
                <
        </div>
    
<%end%>