<div data-controller="slider" class="slider">
    <div class="slides">
        <% @most_rated_articles.each do |mr_article| %>
        <%= render 'articles/most_rated_article', obj: mr_article %>
        <% end %>
    </div>
    <div class="dots">
    <% @most_rated_articles.each_with_index do |mr_article, index| %>
        <button data-action="click->slider#goToSlide" data-slider-target="dot" data-index="<%= index %>"></button>
        <% end %>
    </div>
</div>