<div class="home" data-controller="geolocation" data-action="geolocation#updateCoordinates">
   <div class="home__top">
      <div class="left">
         <%= render 'slider', obj: @most_rated_articles %>
      </div>
   
      <%= render 'articles/weather', obj: @weather_info %>

   </div>
   <div class="home__recent">
      <%= render 'recent_article', obj:@recent_articles %>
   </div>
</div>
