<% if article.image.attached? %>
<div class="slider__bg" style="background: url(<%= article.image %>);background-repeat: no-repeat; background-size: 100% 100%;">
   <div class="slider__bg__title" id="rated_title">
      <%=  link_to "#{article.title}", article_path(article), class:"title-link" %>
   </div>
   <div class="slider__bg__content">
         <%= truncate(article.content, length:100, separator:' ') %> this is content
   </div>
</div>
<% end %> 