footer {
    background-color: #4e443f;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;

    @include media.respond(phone) {
        height: 18rem;
    }

    .footer {
        display: flex;
        align-items: center;

        .terms {
            width: 30rem;
        }

        .social {
            width: 32rem;
        }

        &__icons {
            display: flex;
            flex-wrap: wrap;
            text-transform: uppercase;
            justify-content: flex-end;
            margin: auto;
            margin-right: 11rem;
            position: relative;

            @include media.respond(phone) {
                margin-right: 1rem;
            }

            h3 {
                color:white;
                margin-left:2rem;
            }

            p {
                color:#c35616;
                position:relative;
                
            }

            &__policy {
                color:white;
            }

            a {
                font-size: 18px;
                display: grid;
                height: 40px;
                width: 40px;
                color: #5b453a;
                background-color: #fe6001;
                place-content: center;
                border-radius: 50%;
                box-sizing: border-box;

                &:hover {
                    background: transparent;
                    border: 2px solid #333;
                    color:#fedac3;
                }
            }
            li {
                margin: 8px;
                list-style: none;
            }
        }
    }
}