.home {
 
    &__top {
        display: flex;
        height: 360px;

        .slider {
            width: 70%;
    
            &__bg {
            //   width: 100%;
            //   height: 100%;
            //   border: 2px solid red;
              
            //   background-size: 50px 50px;
            //   background-repeat: no-repeat;
            //   background-position: 10px 10px;
    
                &__title {
                    a {
                        color:#d15002;
                        font-weight:bold;
                        font-size: 2.1rem;
                        margin-left:2rem;
                        position:relative;
                        top:12rem;
                        z-index:5;
        
                        &:hover {
                            color:#fe6001;
                            text-decoration:none;
                        }
                    }
                }
        
                &__content {
                    color:white;
                    font-size: 1.8rem;
                    position:relative;
                    top:13rem;
                    margin-left:2rem;
                    z-index:5;
                }
            }

            &__overlay {
                width:69.4%;
                height: 22.6rem;
                position:absolute;
                background:#000000;
                opacity:0.7;
                background-size:cover;
                background-repeat: no-repeat;
                z-index:4;
            }
    
        }
    }
}

.weather {
    width: 25%;
    background-position: center;
    background-size: cover;

    img {
        width: 100%;
    }
    &__container {
        background-color: linear-gradient(rgba(157, 103, 42, 0.96), rgba(174, 131, 81, 0.932));
        backdrop-filter: opacity(0.5);

        h4 {
            letter-spacing: 0.4rem;
            font-weight: 600;
            text-align: center;
            margin: 2.5rem 0 1rem;
        }
        h6 {
            text-align: center;
            color: #b3b3b3;
            font-size: 1.5rem;
            letter-spacing: 5px;
            font-weight: 300;
            margin-bottom: 2.5rem;
        }
        h2 {
            letter-spacing: 2px;
            text-align: center;
            font-size: 5rem;
        }
    }
}