.section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-bg-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        font-family: $font-family-titillium;
        font-weight: 700;
        line-height: $line-height-body;
        color: $color-text-section;
        text-transform: uppercase;
    }
}