<div class="mega-menu blog">
                    <div class="content">
                      <div class="col">
                        <a href="#" class="image-wrapper">
                          <span class="img">
                          <img src="https://picsum.photos/400?random=3" alt="blog mega">
                          </span>
                        </a>
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Fugit reiciendis blanditiis eveniet laborum hic dicta, 
                        quo aspernatur molestiae ullam esse.</p>
                        <a href="#" class="read-more">read more...</a>
                      </div>
                      <div class="col">
                        <a href="#" class="image-wrapper">
                          <span class="img">
                          <img src="https://picsum.photos/400?random=2" alt="blog mega">
                          </span>
                        </a>
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Fugit reiciendis blanditiis eveniet laborum hic dicta.</p>
                        <a href="#" class="read-more">read more...</a>
                      </div>
                        <div class="col">
                        <a href="#" class="image-wrapper">
                          <span class="img">
                          <img src="https://picsum.photos/400?random=4" alt="blog mega">
                          </span>
                        </a>
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Fugit reiciendis blanditiis eveniet laborum hic dicta, 
                        quo aspernatur molestiae ullam esse.</p>
                        <a href="#" class="read-more">read more...</a>
                      </div>
                        <div class="col">
                        <a href="#" class="image-wrapper">
                          <span class="img">
                          <img src="https://picsum.photos/400?random=5" alt="blog mega">
                          </span>
                        </a>
                        <h2>Title</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                         Fugit reiciendis blanditiis eveniet laborum hic dicta, 
                        quo aspernatur molestiae ullam esse.</p>
                        <a href="#" class="read-more">read more...</a>
                      </div>
                    </div>
                  </div>