 <ul class="menu-right">
    <li><a href="#" class="menu-item">Item3.1</a></li>
    <li><a href="#" class="menu-item">Item3.2</a></li>
    <li><a href="#" class="menu-item">Item3.3</a></li>
    <li><a href="#" class="menu-item">Item3.3</a></li>
</ul>