<div id="<%= dom_id tuzo %>">
  <p>
    <strong>Name:</strong>
    <%= tuzo.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tuzo.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= tuzo.phone %>
  </p>

</div>
