.btn {
    background-color: $color-text-section;
    width: 50%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    margin-top: 10px;
    padding: 11px 25px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;

    &--mid {
        width: 100%;
    }

    &--lg {
        width: 100rem;
    }

    &--unlike {
        background-color: #F0AD4E;
        color: white;
        width: 8rem;
    }

    &--like {
        background-color: #008cba;
        color: white;
        width: 8rem;
    }

    &--danger {
        background-color: #d9534f;
        color: white;
        width: 18rem;
    }
}