@use '../mixins/media';

.logo-menu {
    display: flex;
    justify-content: space-between;
    width: 20%;
    @include respond(phone) {
        width: 50%;
    }
}

.logo {
    padding:3px;
    float:left;
    margin-left:2px;
    margin-top:10px;
    color: $color-main;
    font-size:2.5rem;

    @include respond(phone) {
        font-size: 1rem;
    }

    @include respond(tab-port) {
        font-size: 1.4rem;
    }

    @include respond(tab-land) {
        font-size: 1.2rem;
    }


    &__dot {
        height: 10px;
        width: 10px;
        background-color: #f76107;
        border-radius: 50%;
        display: inline-block;
        margin-left: 0.5rem;
    }

    &--medium {
        color: white;
    }
}
