@use '../config/variables' as var;
@use '../mixins/media';

.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond(phone) {
        margin-left: 1rem;
    }
    @include respond(tab-land) {
        margin-left: 1rem;
    }
    @include respond(tab-port) {
        margin-left: 1rem;
    }
}

.humburger {
    width: 32px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    opacity: 0;

    @include respond(phone) {
        opacity: 1;
    }

    @include respond(tab-port) {
        opacity: 1;
    }

    @include respond(tab-land) {
        opacity: 1;
    }

    span {
        width: 100%;
        height: 3px;
        background-color: var.$color-nav-items;
        transform-origin: left;
        transition: all 2s ease;
    }

    &.active {
        span {
            &.line1 {
                background-color: var.$color-nav-items;
                transform: rotate(45deg);
            }
            &.line2 {
                opacity: 0;
            }
            &.line3 {
                background-color: var.$color-nav-items;
                transform: rotate(-45deg);
            }
        }
    }
}

.nav-mobile {
   
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var.$color-main;
    z-index: 83;

    .menu {
        width: 300px;
        height: 50vh;
        position: fixed;
        top: 4rem;
        left: 0;
        z-index: 122;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: all 1s ease;
        background-color: var.$color-main;
     
    }
}

nav {

    @include respond(phone) {
        display: none;
    }

    @include respond(tab-land) {
        display: none;
    }

    @include respond(tab-port) {
        display: none;
    }


}