@import '../config/variables';

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 22rem;
  }
  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }
  .dots {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 100%;
  }

  .dots button {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: $color-primary-rotate;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
      cursor: pointer;
    }
  }
  
  .dots button.active {
    background-color: #717171;
  }
  