@import '../config/variables';

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 32rem;

    &__img {
      width: 63rem;
      height: 100%;
      object-fit: cover;
      filter: brightness(50%);
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    &__title {
      a {
          color:#d15002;
          font-weight:bold;
          font-size: 1.8rem;
          margin-left:2rem;
          position:relative;
          top:22rem;
          z-index:5;

          @include respond(tab-port) {
            top: 10rem;
          }

          @include respond(tab-land) {
            top: 10rem;
          }
          @include respond(phone) {
            top: 10rem;
          }

          &:hover {
              color:#fe6001;
              text-decoration:none;
          }
        }
     }

    &__content {
        color:white;
        font-size: 1.4rem;
        position:relative;
        top: 23rem;
        margin-left:2rem;
        z-index:5;

        @include respond(tab-port) {
          top: 12rem;
        }

        @include respond(tab-land) {
          top: 12rem;
        }
        @include respond(phone) {
          top: 12rem;
        }

    }
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;
  }

  .dots {
    text-align: right;
    position: absolute;
    bottom: 25px;
    right: 1.1rem;
    width: 100%;
    z-index: 74;
  }

  .dots button {
    height: 1.2rem;
    width: 1.2rem;
    margin: 0 2px;
    border-radius: 50%;
    border: 4px solid $color-primary-rotate;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;

    &:hover {
      background-color: $color-primary;
      cursor: pointer;
    }
  }

  .dots button.active {
    background-color: $color-primary-rotate;
  }
  