@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Titillium+Web:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Titillium+Web:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Titillium+Web:ital,wght@0,100;0,300;0,400;0,700;0,900;1,500&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: hsl(0, 0%, 100%);
  line-height: 1.5;
  font-family: "Montserrat", -apple-system;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: hsl(350, 67%, 50%);
  text-decoration: none;
  transition: color 200ms;
}
a:hover, a:focus, a:active {
  color: hsl(10, 73%, 54%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.btn {
  background-color: hsl(0, 85%, 96%);
  width: 50%;
  outline: none;
  border: none;
  font-size: 1.4rem;
  margin-top: 10px;
  padding: 11px 25px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}
.btn--mid {
  width: 100%;
}
.btn--lg {
  width: 100rem;
}
.btn--unlike {
  background-color: #F0AD4E;
  color: white;
  width: 8rem;
}
.btn--like {
  background-color: #008cba;
  color: white;
  width: 8rem;
}
.btn--danger {
  background-color: #d9534f;
  color: white;
  width: 18rem;
}

section {
  border: 1px solid rgb(222, 222, 222);
  background-color: #f8d7da;
}
section header h2 {
  color: orange;
}
section header h3 {
  color: orangered;
}
section header ul {
  list-style: none;
}
section header ul li {
  border-bottom: 1px solid rgb(222, 222, 222);
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
}

.flash-message {
  display: flex;
  justify-content: center;
}
.flash-message .flash {
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
  padding: 1rem;
}
.flash-message .notice {
  background-color: #d4edda;
  color: black;
}
.flash-message .alert {
  background-color: red;
  color: black;
}
.flash-message .success {
  background-color: #d4edda;
  color: black;
}

.form {
  position: relative;
  width: 30%;
  height: 60vh;
  background-color: hsl(0, 11%, 46%);
  overflow: hidden;
}
.form--sm {
  width: 30%;
  height: 56vh;
}
.form--mid {
  width: 30%;
  height: 74vh;
}
.form--large {
  width: 30%;
  height: 78vh;
}
.form::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 30%;
  height: 70vh;
  background: linear-gradient(0deg, transparent, transparent, hsl(0, 11%, 46%), hsl(0, 11%, 46%));
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}
.form::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 30%;
  height: 70vh;
  background: linear-gradient(0deg, transparent, transparent, hsl(0, 11%, 46%), hsl(0, 11%, 46%));
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}
.form__container {
  position: absolute;
  inset: 2px;
  background-color: hsl(0, 1%, 16%);
  border-radius: 8px;
  z-index: 10;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
}
.form__container h2 {
  color: hsl(0, 85%, 96%);
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1rem;
}
.form__container .input-box {
  position: relative;
  width: 300px;
  margin-top: 25px;
}
.form__container .input-box input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  z-index: 10;
}
.form__container .input-box input:focus ~ span {
  transform: translateX(-10px) translateY(-34px);
  font-size: 0.8rem;
  color: hsl(0, 85%, 96%);
}
.form__container .input-box input:focus ~ i {
  height: 90%;
}
.form__container .input-box input:valid ~ span {
  transform: translateX(-10px) translateY(-34px);
  font-size: 0.8rem;
  color: hsl(0, 85%, 96%);
}
.form__container .input-box input:valid ~ i {
  height: 90%;
}
.form__container .input-box span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  pointer-events: none;
  color: hsl(0, 85%, 96%);
  letter-spacing: 0.05rem;
  transition: 0.5s;
}
.form__container .input-box label {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  pointer-events: none;
  color: hsl(0, 1%, 44%);
  letter-spacing: 0.05rem;
  transition: 0.5s;
}
.form__container .input-box i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: hsl(0, 85%, 96%);
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}
.form__container .links {
  display: flex;
  justify-content: space-between;
}
.form__container .links a {
  margin: 10px 0;
  font-size: 1rem;
  color: hsl(0, 1%, 44%);
}
.form__container .links a:hover, .form__container .links a:nth-child(2) {
  color: hsl(207, 45%, 47%);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flash.alert {
  color: white;
  z-index: 100;
  font-weight: bolder;
  font-size: 1.6rem;
}

.logo {
  padding: 3px;
  float: left;
  margin-left: 2px;
  margin-top: 10px;
  color: #5a514c;
  font-size: 2.5rem;
}
.logo__dot {
  height: 10px;
  width: 10px;
  background-color: #f76107;
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.5rem;
}
.logo--medium {
  color: white;
}

.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.slider__bg {
  height: 100%;
}
.slider__bg__title a {
  color: #d15002;
  font-weight: bold;
  font-size: 1.8rem;
  margin-left: 2rem;
  position: relative;
  top: 22rem;
  z-index: 5;
}
.slider__bg__title a:hover {
  color: #fe6001;
  text-decoration: none;
}
.slider__bg__content {
  color: white;
  font-size: 1.4rem;
  position: relative;
  top: 23rem;
  margin-left: 2rem;
  z-index: 5;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 30rem;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.dots {
  text-align: right;
  position: absolute;
  bottom: 25px;
  right: 1.1rem;
  width: 100%;
  z-index: 74;
}

.dots button {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 2px;
  border-radius: 50%;
  border: 4px solid hsl(10, 73%, 54%);
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
}
.dots button:hover {
  background-color: hsl(350, 67%, 50%);
  cursor: pointer;
}

.dots button.active {
  background-color: hsl(10, 73%, 54%);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 24;
  background-image: linear-gradient(to bottom, #fff 0%, #fff 80%, #fff 90%, #fff 90%, #836a6a 20%);
}
.header::before {
  content: "";
  width: 18rem;
  height: 0.4rem;
  background-color: red;
  position: absolute;
  top: 4.3rem;
}
.header__menu {
  display: flex;
}
.header__menu li {
  padding-left: 1rem;
  list-style: none;
}
.header__menu li:first-child a {
  color: #f76107;
}
.header__menu__item {
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #787980;
}
.header__menu__item:hover {
  color: hsl(0, 1%, 16%);
}
.header__menu__item--line {
  border-right: 4px solid #787980;
  padding-right: 0.6rem;
  margin-right: 2px;
}
.header__user {
  position: relative;
}
.header__user ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__user ul .create a {
  text-transform: capitalize;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  color: #787980;
}
.header__user ul .create a:hover {
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  color: #f9a70d;
  border-bottom: 4px solid #787980;
}
.header__user ul .dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 8rem;
}
.header__user ul .dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 34px;
  z-index: 72;
}
.header__user ul .dropdown .dashboard {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__user ul li {
  list-style: none;
  margin-right: 1rem;
}
.header__user ul li .fa-search {
  position: relative;
  top: 0.2rem;
  font-size: 1.6rem;
  color: #787980;
}
.header__user ul li .dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  padding-left: 0.9rem;
  top: 50px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  z-index: 12;
}
.header__user ul li .dropdown-menu li {
  width: 100%;
}
.header__user ul li .dropdown-menu li a {
  font-size: 1.2rem;
}

.home__top {
  display: flex;
  height: 80vh;
}
.home__top .left {
  width: 75%;
}
.home__top .left__bg {
  height: 100%;
}
.home__top .left__overlay {
  width: 74.9%;
  height: 30rem;
  position: absolute;
  background: #000000;
  opacity: 0.7;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 4;
}
.home__recent {
  display: flex;
}
.home__recent__overlay {
  width: 100%;
  height: 13.7rem;
  position: absolute;
  background: #000000;
  opacity: 0.7;
  background-size: cover;
  z-index: 4;
}
.home__recent__container {
  width: 100%;
  height: 218px;
}
.home__recent__container__bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 300px 300px;
}
.home__recent__container__bg__content .category {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 3px solid #9a9014;
  padding-bottom: 0.1rem;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 1rem;
  left: 1.5rem;
  z-index: 15;
}
.home__recent__container__bg__content .category:hover {
  color: #ff1;
  text-decoration: none;
}
.home__recent__container__bg__content__title a {
  font-size: 1.6rem;
  color: #fff;
  margin-left: 1rem;
  text-decoration: none;
  position: relative;
  top: 6rem;
  z-index: 5;
}
.home__recent__container__bg__content__title a:hover {
  color: #fe6001;
  text-decoration: none;
}

.weather {
  width: 25%;
  border: 2px solid rgb(79, 9, 243);
  background-position: center;
  background-size: cover;
}
.weather img {
  width: 100%;
}
.weather__container {
  background-color: linear-gradient(rgba(157, 103, 42, 0.96), rgba(174, 131, 81, 0.932));
  -webkit-backdrop-filter: opacity(0.5);
          backdrop-filter: opacity(0.5);
}
.weather__container h4 {
  letter-spacing: 0.4rem;
  font-weight: 600;
  text-align: center;
  margin: 2.5rem 0 1rem;
}
.weather__container h6 {
  text-align: center;
  color: #b3b3b3;
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-weight: 300;
  margin-bottom: 2.5rem;
}
.weather__container h2 {
  letter-spacing: 2px;
  text-align: center;
  font-size: 5rem;
}

footer {
  background-color: #4e443f;
  height: 70px;
  margin-top: auto;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
}
footer .footer {
  display: flex;
  align-items: center;
}
footer .footer__icons {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  justify-content: flex-end;
  margin: auto;
  margin-right: 11rem;
  position: relative;
}
footer .footer__icons h3 {
  color: white;
  margin-left: 2rem;
}
footer .footer__icons p {
  color: #c35616;
  position: relative;
}
footer .footer__icons__policy {
  color: white;
}
footer .footer__icons a {
  font-size: 18px;
  display: grid;
  height: 40px;
  width: 40px;
  color: #5b453a;
  background-color: #fe6001;
  place-content: center;
  border-radius: 50%;
  box-sizing: border-box;
}
footer .footer__icons a:hover {
  background: transparent;
  border: 2px solid #333;
  color: #fedac3;
}
footer .footer__icons li {
  margin: 8px;
  list-style: none;
}

.show__container {
  display: flex;
  justify-content: center;
}
.show__container .bg-image {
  width: 100vw;
}
.show__container .bg-image img {
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.show__container .content {
  background: #f8f8f8;
  font-size: 2rem;
  padding: 2rem;
}
.show__container .content p {
  color: #333;
}
.show__container .likes {
  padding: 3rem;
  background: #f8f8f8;
  color: #333;
}
.show__container .likes__count {
  font-size: 2rem;
}
.show__container .likes .category {
  margin-bottom: 1rem;
}

.category-show {
  height: 544px;
}
.category-show__container__flex {
  display: flex;
  flex-wrap: wrap;
}
.category-show__container__flex .empty-message {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #756d69;
  padding-top: 4rem;
}
.category-show__container__flex .item {
  display: flex;
  width: 667px;
  height: 268px;
  border: 0.1px dotted #787980;
}
.category-show__container__flex .item img {
  width: 300px;
  height: 268px;
}
.category-show__container__flex .item .content {
  width: 50%;
  height: 300px;
  padding-left: 1rem;
}
.category-show__container__flex .item .content__category .category--name {
  font-weight: bold;
  border-bottom: 3px solid #9a9014;
  padding-bottom: 0.1rem;
  color: #9a9014;
  text-decoration: none;
  margin-bottom: 1.1rem;
  width: 8rem;
  position: relative;
  bottom: 0;
  left: 0rem;
}
.category-show__container__flex .item .content__title a {
  color: #756d69;
  font-weight: bold;
  text-decoration: none;
}
.category-show__container__flex .item .content__title a:hover {
  color: #f9a623;
  font-weight: bold;
}
.category-show__container__flex .item .content__body {
  font-size: 1rem;
  color: #756d69;
}
.category-show__container__flex .item:nth-child(3) {
  display: flex;
  flex-direction: row-reverse;
}
.category-show__container__flex .item:nth-child(4) {
  display: flex;
  flex-direction: row-reverse;
}/*# sourceMappingURL=application.css.map */