<footer>
   <div class="footer logo">
     <h2 class="logo logo--medium">WriTEhUb<span class="logo__dot"></span></h2>
   </div>
   <div class="footer terms">
     <p>Privacy Policy Terms & Conditions <span class="footer__policy">Copy rights 2014.
     All rights reserved</span></p>
   </div>
   <div class="footer social">
     connect with us
      <ul class="footer__icons">
            <li>
                <a href="https://web.facebook.com/ibunhabibu/">
                <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/Ibunhabibu">
                <i class="fab fa-twitter-square"></i>
                </a>
            </li>
            
            <li>
                <a href="https://www.instagram.com/ibunhabibu/">
                <i class="fab fa-instagram"></i>
                </a>
            </li>
      </ul>
   </div>
</footer>